@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #020b1e;
  background-image: url('/app-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
